:host {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 35px;
  padding: 2px;
  border: 1px solid #88888877;
  text-align: center;
  color: #888;
  background-color: #ee333311;
  cursor: pointer;
  box-sizing: border-box;

  &.marked,
  &.marked-light {
    background-color: aquamarine;
  }

  &.marked-light {
    opacity: 0.5;
  }

  &.today {
    border: 2px solid #c78bf4;
  }
}
