:host {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 35px;
  padding: 2px;
  border: 1px solid #88888877;
  text-align: center;
  color: #888;
  background-color: #ee333311;
  cursor: pointer;
  box-sizing: border-box;

  @media screen and (max-width: 1600px) {
    width: 30px;
    height: 30px;
    line-height: 25px;
  }

  &.marked,
  &.marked-light {
    background-color: var(--marked-color);
    color: var(--marked-font-color);
  }

  &.marked-light {
    opacity: 0.5;
  }

  &.marked-partially {
    background-color: var(--partially-marked-color);
    opacity: 0.9;
  }

  &.today {
    border: var(--today-border);
  }
}

.count {
  top: -11px;
  left: 7px;
  position: absolute;
  font-size: 0.7em;

  @media screen and (max-width: 1600px) {
    top: -8px;
    left: 3px;
    font-size: 0.6em;
  }
}
