:host {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 35px;
  padding: 2px;
  border: 1px solid #88888877;
  text-align: center;
  color: #888;
  background-color: #ee333311;
  cursor: pointer;
  box-sizing: border-box;

  &.marked,
  &.marked-light {
    background-color: aquamarine;

    &.tyr-dark-theme-day {
      background-color: rgb(39, 127, 98);
      color: white;
    }
  }

  &.marked-light {
    opacity: 0.5;
  }

  &.today {
    border: 2px solid #c78bf4;

    &.tyr-dark-theme-day {
      border: 2px solid #723a9d;
    }
  }
}
