@let mode = streaksService.modeSignal();
@let needsAuth = auth.needsAuthSignal();
<hab-auth></hab-auth>

<div class="top-nav">
  <img class="top-nav-btn" [class.nav-dark-theme]="themeService.isDarkThemeSignal()" src="/favicon.ico" (click)="resetMode()" />
  <img
    class="top-nav-btn"
    [class.nav-dark-theme]="themeService.isDarkThemeSignal()"
    src="/theme.png"
    (click)="themeService.toggleTheme()" />
</div>
@if (mode === 0) {
  <hab-mode-selector></hab-mode-selector>
} @else {
  @if (mode === 1) {
    <router-outlet />
  } @else {
    @if (needsAuth) {
      <h3 style="margin: 0 auto; padding-top: 20px">Please sign in to use the application</h3>
    } @else {
      <!--<img class="avatar" [src]="auth.picture" />-->
      <router-outlet />
    }
  }
}
