:host {
  margin: 0 auto;
}
.controls {
  text-align: center;
}

button {
  font-weight: bold;
  border: var(--btn-border);
  height: 40px;
  padding: 14px 10px;
  margin: 5px;
  background-color: var(--btn-color);
  cursor: pointer;
  color: var(--primary-color);
}

button:hover {
  background-color: var(--btn-color-hover);
}
