<div class="controls">
  <button [class.dark-btn]="themeService.isDarkThemeSignal()" (click)="moveBack()">◀</button>
  <button [class.dark-btn]="themeService.isDarkThemeSignal()" (click)="createHabit()">Add habit</button>
  <button [class.dark-btn]="themeService.isDarkThemeSignal()" (click)="moveForward()">▶</button>
</div>
<hab-habits-month-grid [month]="previousMonthSignal"></hab-habits-month-grid>
<hab-habits-month-grid [month]="monthSignal"></hab-habits-month-grid>
<hab-habits-month-grid [month]="nextMonthSignal"></hab-habits-month-grid>
