:host {
  margin: 0 auto;
}
.controls {
  text-align: center;
}

button {
  font-weight: bold;
  border: 1px solid #ccc;
  height: 40px;
  padding: 14px 10px;
  margin: 5px;
  background-color: #eee;
  cursor: pointer;
}

.dark-btn {
  background-color: rgba(27, 27, 27, 0.844);
  color: #ddd;
  border: 1px solid #666;
}

button:hover {
  background-color: #ddd;
}

.dark-btn:hover {
  background-color: rgba(14, 14, 14, 0.844);
}
